.d-none {
  display: none;
}

button:disabled,
button:disabled:hover {
  background-color: #bbb;
  border-color: #c0c0c0;
  cursor: not-allowed;
}

/* ### Override de estilos do calendário */
.fc-icon-chevron-left:before {
  content: "<" !important;
}

.fc-icon-chevron-right:before {
  content: ">" !important;
}

/* Remoção de espaços de cima e de baixo da tabela */
.fc-col-header,
tr[role="presentation"].fc-scrollgrid-section-body table {
  margin-bottom: 0;
}

/* ### Sessão */
.formulario-roteiro-de-anamnese textarea {
  height: 330px;
}