:root {
  --white: #fff;
  --warning: #ffc107;
  --warning-hover: #947107;
  --danger: #e97979;
  --danger-hover: #701414;
  --info: #1EAEDB;
  --info-hover: #0e4c5f;
  --success: #2edb1e;
  --success-hover: #32a216;
  --secondary-text: #838282;
}

hr {
  margin: 0 15rem 3.1rem 15rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.d-none {
  display: none !important;
}

button:disabled,
button:disabled:hover {
  background-color: #bbb;
  border-color: #c0c0c0;
  cursor: not-allowed;
}

/* ### Override de estilos do calendário */
.fc-icon-chevron-left:before {
  content: "<" !important;
}

.fc-icon-chevron-right:before {
  content: ">" !important;
}

/* Remoção de espaços de cima e de baixo da tabela */
.fc-col-header,
tr[role="presentation"].fc-scrollgrid-section-body table {
  margin-bottom: 0;
}

/* ### Sessão */
.formulario-sessao textarea {
  height: 320px;
}

/* ### Estilos básicos para complementar o skeleton.css */
.button-danger {
  background-color: var(--danger);
  color: var(--white);
  border-color: var(--danger);
}

.button-danger:hover {
  background-color:   var(--danger-hover);
  color: var(--white);
  border-color:   var(--danger-hover);
}

.button-success {
  background-color: var(--success);
  color: var(--white);
  border-color: var(--success);
}

.button-success:hover {
  background-color:   var(--success-hover);
  color: var(--white);
  border-color:   var(--success-hover);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.3em;
  font-size: 85%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.secondary-text {
  color: var(--secondary-text);
}

.badge-warning {
  color: var(--white);
  background-color: var(--warning);
}

.row-selected {
  border: 2px dashed var(--warning)
}

.link-warning {
  color: var(--warning)
}

.link-warning:hover {
  color: var(--warning-hover)
}

.link-danger {
  color: var(--danger)
}

.link-danger:hover {
  color: var(--danger-hover)
}

.link-info {
  color: var(--info)
}

.link-info:hover {
  color: var(--info-hover)
}

.label-inline {
  display: inline;
}

/* Estilos proprios */
.lista-de-sessoes__notas {
  /* @see https://www.codegrepper.com/code-examples/css/text-overflow%3A+ellipsis%3B+in+second+line+css */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilos específicos para campos de texto em tabelas */
.table-column-text {
  width: 570px
}

.table-column-long-text-closed {
  position: relative;
  max-height: 100px;
  font-size: 0.9em;
  overflow: hidden;
}

.table-column-long-text-closed:after {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
}

.table-column-long-text-open {
  position: relative;
  max-height: unset;
  font-size: 0.9em;
  overflow: hidden;
}

.table-column-long-text-open:after {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: unset;
}

.marcar_todas_container {
  padding-bottom: 0px;
  padding-top: 4px;
}

.marcar_todas_container label {
  font-weight: 100;
}


#pdf h1 {
  text-align: center;
}

#pdf .dados-cadastrais p {
  margin-bottom: 3px;
}

.footer {
  position: fixed;
  padding: 10px 10px 6px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background-color: rgb(51 195 240 / 5%);
  text-align: right;
}

.footer button {
  opacity: 1;
  margin-right: 20px;
}