:root {
  --white: #fff;
  --warning: #ffc107;
  --danger: #e97979;
  --info: #1EAEDB;
  --danger-hover: #ef5c5c;
}

.d-none {
  display: none !important;
}

button:disabled,
button:disabled:hover {
  background-color: #bbb;
  border-color: #c0c0c0;
  cursor: not-allowed;
}

/* ### Override de estilos do calendário */
.fc-icon-chevron-left:before {
  content: "<" !important;
}

.fc-icon-chevron-right:before {
  content: ">" !important;
}

/* Remoção de espaços de cima e de baixo da tabela */
.fc-col-header,
tr[role="presentation"].fc-scrollgrid-section-body table {
  margin-bottom: 0;
}

/* ### Sessão */
.formulario-sessao textarea {
  height: 320px;
}

/* ### Estilos básicos para complementar o skeleton.css */
.button-danger {
  background-color: var(--danger);
  color: var(--white);
  border-color: var(--danger);
}

.button-danger:hover {
  background-color:   var(--danger-hover);
  color: var(--white);
  border-color:   var(--danger-hover);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.3em;
  font-size: 85%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-warning {
  color: var(--white);
  background-color: var(--warning);
}

.row-selected {
  border: 2px dashed var(--warning)
}

.link-warning {
  color: var(--warning)
}

.link-danger {
  color: var(--danger)
}

.link-info {
  color: var(--info)
}